@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  font-family: "Poppins", sans-serif;
}
/* Custom scrollbar styles for the .custom-scrollbar class */
.custom-scrollbar {
  overflow: auto; /* Make sure the element can scroll */
  }

  .custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 50%; /* Rounded corners for the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Space around the thumb */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar thumb */
  }

  /* Firefox scrollbar styling */
  .custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  border-radius: 10px;
  scrollbar-color: #eee #f1f1f100; /* Thumb color and track color */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.rotate-360 {
  transform: rotate(360deg);
}